.about {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.about .left {
  text-align: center;
  margin: auto;
  padding: 1rem;
  max-width: 650px;
}

.about .left p {
  margin: 1.2rem 0;
}

.about .right {
  max-width: 700px;
}

.right .img-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
  align-items: center;
  text-align: center;
}

.right .img {
  max-width: 90%;
  border: 1px solid #333;
}

.right .top {
  grid-column: 1 / span 7;
  grid-row: 1;
  padding-top: 20%;
  z-index: 6;
}

.right .bottom {
  grid-column: 4 / -1;
  grid-row: 1;
  z-index: 5;
}

.head {
  color: whitesmoke;
  text-align: center;
  font-size: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  flex-wrap: wrap;
  padding: 40px 0;
}


.container .card {
  position: relative;
  width: 370px;
  height: 340px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
              inset -5px -5px 5px rgba(255, 255, 255, 0.5),
              inset 5px 5px 5px rgba(0, 0, 0, 0.5)
              inset -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}

.container .card:hover {
  transform:scale(1.1);
  transition: 0.5s ease-in-out;
}

.container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #d3d1e6;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
}

.container .card .box .content {
  padding: 20px;
  align-items: center;
}

.container .card .box .content h2 {
  font-size: 1.8em;
  z-index: 1;
  transition: 0.5s;

}

.container .card .box .content ul {
  font-size: 1rem;
  font-weight: 300;
  z-index: 1;
  transition: 0.5s;
  text-decoration: none;
}

.container .card .box .content ul li {
  list-style: none;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  font-weight: 500;
}

